<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>{{title}}}</title>
  <link rel="stylesheet" href="templates/style.css">
</head>
<body>
  <h2> Фото {{img}}</h2>
  <a href="./">Назад</a>
 <div> <img class="big-img" src="{{path_img}}/{{image}}" alt=""></div>
</body>
</html>